<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Random Number</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>


    <h1>Your Random Number is :
        <%= random %>
    </h1>

    <% if(random % 2 === 0) {%>
        <h2>This is an Even Number..!!</h2>
        <% }else{ %>
            <h2>This is an Odd Number..!!</h2>
            <% } %>

                <h3>
                    <%= random % 2 == 0 ? "EVEN!" : "ODD"%>
                </h3>



</body>

</html>