<% layout('layouts/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow">
                    <img src="/images/login.svg" alt="Authenticate" class='card-img-top'>
                    <div class="card-body" >
                        <h5 class="card-title">Login to your Account</h5>
                        <form action="/login" method="post" class='validated-form' novalidate>
                            <div class='mb-3'>
                                <label class="form-label" for="username">Username</label>
                                <input required class="form-control" type="text" id='username' name="username"
                                    placeholder="Enter your username" />
                                <div class="valid-feedback">
                                    Looks Good
                                </div>
                            </div>
                            <div class='mb-3'>
                                <label class="form-label" for="password">Password</label>
                                <input required class="form-control" type="password" id='password' name="password"
                                    placeholder="Enter your password" />
                                <div class="valid-feedback">
                                    Looks Good
                                </div>
                            </div>
                            <button class='btn btn-success btn-block'>Login</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>