
#percentages {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

#percentages div {
    background-color: #e5989b;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
    /* Depend on font size */
}

#ems h2 {
    font-size: 2em;
    /* font respect to parent body */
    margin-left: 1em;
    /* respect to own's font size */
}

#ems h3 {
    font-size: 1.5em;
}

#ems p {
    font-size: 1em;
}

#ems article {
    font-size: 10px;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #2a9d8f;
    color: white;
}

#ems ul {
    font-size: 1.5em;
}

/* This is the issue with ems that they can stack up together */

/* Solved by rem , root is html*/

#rems h2{
    font-size: 3rem;
}

#rems h3{
    font-size: 2rem;
}

#rems ul{
    font-size: 1.5rem;
}

#rems button{
    font-size: 1.5rem;
}