body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* JUSTIFY CONTENTS DISTRIBUTES SPACE ALONG THE MAIN AXIS */
    /* flext start end center space between around evenly */
    /* Dependent on Main axis  */
    /* flex-wrap: wrap; */
    align-items: center;
    /* ALIGN ITEMS DISTRIBUTES SPACE ALONG THE CROSS AXIS */

    /* align-content: center; */
    /* USed only when there are multiple rows */


}

#container div{
    width: 200px;
    height: 200px;
    flex-basis: 600px;
    /* Along main Axis */
    /* flex-grow: 1;

    min-width: none;
    max-width: none; */

}

div:nth-of-type(1){
    flex-grow: 1;
    flex-shrink: 2;
}

div:nth-of-type(5){
    flex-grow: 0;
}

main{

    border: 5px solid #000;
    width: 80%;
    margin: 0 auto;
    height: 500px;
    display: flex;
}

main .sidebar{
    background-color: #6930c3;
    border: 2px solid white;
    flex:1 2 20%;
}

main .maincontent{
    background-color: #80ffdb;
    flex: 2 1 60%;
}

