<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EJS HOME PAGE 1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>Home Sweet Home
        <%= 'hello World'.toUpperCase()%>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias earum quaerat inventore blanditiis, error sit excepturi dolor pariatur cupiditate hic a illo impedit beatae ad, minus enim quasi quod doloribus.
    </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad harum non ea exercitationem omnis, vero corrupti dolore facilis, nesciunt error accusamus laborum consequatur reiciendis! Nisi laudantium repellat neque accusantium libero.</p>
    <script src="" async defer></script>
</body>

</html>