<%- include('partials/head') %>


    <%- include('partials/navbar') %>
        <h1>Home Sweet Home
            <%= 'hello World' .toUpperCase()%>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias earum quaerat inventore blanditiis, error
            sit excepturi dolor pariatur cupiditate hic a illo impedit beatae ad, minus enim quasi quod doloribus.
        </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad harum non ea exercitationem omnis, vero corrupti
            dolore facilis, nesciunt error accusamus laborum consequatur reiciendis! Nisi laudantium repellat neque
            accusantium libero.</p>
        <script src="" async defer></script>

<%- include('partials/footer') %>